:root {
    --color-background: #fff;
    --color-black: #222222;
    --color-white: #fff;
    --color-blue: #1C5D99;
    --font-primary: Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Path: assets/Css/Components/Navbar.css */
header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.text-blue {
    color: var(--color-blue);
}

.text-logo {
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-black);
}

#btn-menu {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 60%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bolder;
    font-size: 1rem;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.btn {
    padding: .5rem 1.7rem;
    border: var(--color-black) 2px solid;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-black);
    transition: all .3s ease-in-out;
}

.btn-linkedin {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
}

.btn-github:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn-linkedin:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}