*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
}
/*  #111
    #5E17EB
    #6d42c4
    #7047c2;
*/

body{
    background-color: #111;
}
/* Estilizando cabeçalho */
header{
    background-color: #111;
    border-bottom: #5E17EB solid 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2vw;
    height: 14vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    gap: 20px;
}
/* Estilizando logo */
.logo-name{
    color: #eee;
    font-size: 27px;
}
.text-purple{
    color: #6e34e0;
}
/* Estilizando navegação/nav-bar */
.nav-list ul{
   display: flex;
   list-style: none;
   align-items: center;
   gap: 15px;
}
.nav-link{
    text-decoration: none;
    color: #9ca3af;
    padding: 5px 10px;
    border-radius: 10px;
}
.nav-link:hover{
    background: #5E17EB;
    color: #eee;
    transition: 0.6s;
}
#nav-link-icon-github img{
    background-color: #6d42c2;
    border-radius: 100%;
    padding: 3px;
}
#nav-link-icon-linkedin {
    background-color:#fff;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.nav-item-icon:hover{
    scale: 0.9;
    transition: 0.6s;
}
/* Estilizando conteiner Conteudo principal */
.main-container{
    padding:70px 60px ;
    display: flex;
    flex-direction: column;
    gap: 30px ;
}
/* Estilizando seção de introdução*/
.section-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17vh;
}
.container-text-intro{
    width: 390px;
}
.text-intro {
    color: #eee;
    font-size: 23px;
    font-weight: bold;
}
#name-intro{
    font-size: 39px;
}
.container-pic img{
    background-color: #5E17EB;
    border-radius: 100%;
    padding: 10px;
    height: 290px;
}
.container-pic img:hover{
    scale: 1.1;
    transform: rotate(15deg);
    transition: 0.6s;
}
/* Estilizando titulo de todas as seções*/
.section-title{
    font-size: 30px;
    color: #5E17EB;
    padding: 10px;
    text-align: center;
}
/* Estilizando seção Sobre*/
.section-about{
    background-color: #151515;
    border-radius: 32px;
    border: #5E17EB 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-main-about{
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.container-text-about{
    background-color: #111;
    border-radius: 32px;
    padding: 30px;
}
.container-text-about:hover{
    border: #5E17EB solid 1px;
    transition: 0.5s;
}
.container-text-about p{
    color: #eee;
    font-size: 23px;
    align-items: center;
}
.container-contacts-about ul{
    display: flex;
    gap:20px;
    padding: 10px 20px;
    flex-wrap: wrap;
    list-style: none;
}
.contac-item, .contac-link{
    color: #9ca3af;
    padding: 8px;
    border-radius: 10px;
    font-size: 17px;
}

.container-contacts-about p, #title-contacts{
    padding-left:20px ;
}
.subttile{
    color: #9ca3af;
    font-size: 13px;
}
/* Estilizando seção de tecnologias*/
.section-technologies{
    background-color: #151515;
    border-radius: 32px;
    border: #5E17EB 1px solid;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px
}
.container-cards{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.section-technologies p{
    color: #9ca3af;
}
.card{
    background-color: #111;
    width: 130px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: #dc69f3 solid 3px;
    border-radius: 32px 0px 0px 0px ;
    box-shadow:1px 1px  5px  #5E17EB;
}
.card:hover{
    box-shadow: 0 0 10px #5E17EB;
    transform: translate(-5px, -10px);
    transition: 0.3s;
}
.card p{
    color: #6e34e0;
    padding: 5px;
}

/* Estilizando seção de Projetos*/
.section-projects{
    background-color: #151515;
    border-radius: 32px;
    border: #5E17EB solid 1px;
    padding: 20px;
}
.section-projects p{
    color: #9ca3af;
}
.container-projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.projects{
    background-color: transparent;
    border-radius: 32px;
    border:#5E17EB solid 1px;
    width: 300px;
    padding: 100px;
    text-align: center;
}
.projects p{
    width: 120px;
    font-size: 17px;
}
.projects:Hover{
    scale: 1.1;
    box-shadow: 0 0 10px #5E17EB;
    transition: 0.6s;
}

/* Estilizando seção de Formação*/
.section-formation{
    border-radius: 32px;
    border: #5E17EB solid 1px;
    padding: 20px;
    background-color: #151515;
}
#subttile-formation{
   color: #9ca3af;
   padding: 5px; 
}
.container-formation{
    background-color: #111;
    border-radius: 32px;
    padding: 25px;
}
.container-formation ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    color: #eee;
    font-size: 17px;
}
.item-subtitle{
    color: #5E17EB;
}
.container-formation:hover{
    border: #5E17EB solid 1px;
    transition: 0.6s;
}

/* Estilizando seção de Curriculo*/
.section-cv{
    background-color: #151515;
    border-radius: 32px;
    border: #5E17EB solid 1px;
    padding: 20px;
}
.container-cv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
}
.container-cv p{
    color: #9ca3af;
}
#btn-download{
    background-color: #6e34e0;
    color: #eee;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #6e34e0;
    border-left: 10px solid #ffffff ;
}
#btn-download:hover{
    background: transparent;
    border-left: #5E17EB 10px solid;
    transition: 0.6s;
}

/* Responsividade telas 2560px*/
