*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Helvetica, sans-serif;
}
/*  #111
    #5E17EB
    #6d42c4
    #7047c2;
    #9ca3af
*/
body{
    background-color: #111;
}

header{
    background-color: #111;
    border-bottom: #5E17EB solid 2px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

#logo{
    color: #eee;
    font-size: 25px;
}
.text-purple{
    color: #5E17EB;
}
.nav-list{
    background-color: #111;
    border-bottom: #5E17EB 2px solid;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 10vh;
    right: 0;
    height: 0;
    z-index: 10000;
    transition: .6s;
    visibility: hidden;
    overflow-y:hidden ;
}

.nav-link {
    color: #9ca3af;
    text-decoration: none;
    padding: .5rem 0;
}
.nav-item{
    border-bottom: #5E17EB solid 2px;
    margin: 0 1rem;
}
#btn-menu{
    padding: 5px 10px;
    display: flex;
    font-weight: bold;
    background-color: #5E17EB;
    border: none ;
    border-radius: 20px;
    cursor: pointer;
    gap: .4rem;
}
#hamburger{
    width: 20px;
    border-top: 2px solid;
    display: block;
}
#hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: 0.3s;
    position: relative;
}
#nav-bar.active .nav-list{
    height: 48vh;
    visibility: visible;
    overflow-y: auto;
}
#nav-bar.active #hamburger{
    border-top: transparent;
}
#nav-bar.active #hamburger::after{
    background-color: red;
    transform: rotate(135deg);
    top: -7px;
}
#nav-bar.active #hamburger::before{
    background-color: red;
    transform: rotate(-135deg);
}

main{
    margin-top: 10vh;
}

#section-intro{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#profile-pic{
    height: 179px;
}
#background-pic{
    background-color: #5E17EB;
    border-radius: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}
#text-intro p{
    color: #eee;
    font-weight: bold;
}
#section-intro ul{
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}
.intro-link{
    text-decoration: none;
    color: #eee;
    padding: 10px 8px;
    border-radius: 32px;
    cursor: pointer;
    transition: .6s;
}
#link-cv{
    background-color: #5E17EB;
    border: #5E17EB 1px solid;
}
#link-cv:hover{
    background: transparent;
}
#link-repository{
    border: #5E17EB 1px solid;
}
#link-repository:hover{
    background-color: #5E17EB;
}

#section-about{
    padding: 1rem;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#title-about{
    text-align: center;
}
#text-about{
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    border: #5E17EB solid 1px;
    color: #9ca3af;
    font-size: 17px;
}
#section-technologies{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#title-technologies{
    text-align: center;
}
#container-cads{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    border: #5E17EB solid 2px;
    border-radius: 32px 0 0;
    border-bottom: #992e99 3px solid;
    box-shadow:1px 1px  5px  #5E17EB;
    color: #9ca3af;
    width: 110px;
    height: 150px;
    padding: 2rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .6s;    
}
.card:hover{
    scale: 1.1;
    box-shadow: 0 0 10px #5E17EB;
}

#section-projects{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
}
#title-projects{
    text-align: center;
}
.projects{
    border: #5E17EB solid 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    color: #9ca3af;
}

#title-certificatest{
    text-align: center;
}
#section-certificates{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
}
#text-certificatest {
    border: #5E17EB solid 1px;
    border-radius: 10px;
    padding: 5px;
}
#text-certificatest ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.certificatest-item{
    color: #9ca3af;
}

#section-contact{
    background-color: #151515;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
}
#title-contact{
    text-align: center;
}
#container-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9ca3af;
    gap: 5px;
}
.contact a{
    color: #9ca3af;
}
.contact img{
    background-color: #5E17EB;
    border-radius: 100%;
    padding: 3px;
    height: 3em;
}